.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

/*========== START =======================*/
.start {
  width: 1800px;
  min-height: 1200px;
  background-image: url("https://assets.vg247.com/current//2016/06/Tekken_7_1.jpg");
  display: flex;
  background-size:2300px;
  flex-direction: column;
}
.h-auto {
  height: auto;
}
.start-button {
  margin: 40px;
  padding: 20px;
  color: #591833;
  border-radius: 7px;
  box-shadow:  0 0 22px 0 rgb(167, 49, 245);
  background-color: rgba(160, 218, 236, 0.34);
  font-size: 20px;
}
.start-button:hover {
  transform: scale(1.07);
}
/*========= CHOOSE PAGE ===============*/
.choose-field {
  /*background-image: url("");*/
  background-color: skyblue;
  width: 1600px;
}

.toolbar {

  height: 120px;
  background-image: url("https://media.istockphoto.com/photos/igniting-competition-matchup-loop-against-fire-ice-embers-picture-id1191905989?b=1&k=20&m=1191905989&s=170667a&w=0&h=XEhE9epTQDwUEgV0SpPh9bi5jZuMzHC156sGVcJGUYo=");
  display: flex;
  background-size:1600px;
  color: #f13fb2;
  font-size: 20px;
}
.st-button {
  margin: 20px;
  padding: 10px;
  color: #591833;
  border-radius: 7px;
  box-shadow:  0 0 22px 0 rgb(167, 49, 245);
  background-color: rgba(160, 218, 236, 0.34);
  font-size: 20px;
}
/*=========CHOOSE CHARACTER ===============*/
.character {
  width: 220px;
  display: flex;
  border:  #e73c77 solid 2px;
  border-radius: 10px;
  padding: 10px;
  flex-direction: column;
  background-color: rgba(160, 218, 236, 0.34);
  box-shadow:  0 0 22px 0 rgb(250, 145, 71);
}
.character h2 {
  margin: 10px;
 }

.character img {
  margin: 5px;
}
/*========== MAIN ========================*/

/*========= CHARACTER INFO ===============*/
.character-info {
  width: 800px;
  height: 1200px;
  padding-left: 40px;
}
.character-info h1 {
  margin: 40px;
}
.info img {
  width: 350px;
  margin-left:  40px;
  background-color: rgba(100, 149, 237, 0.24);
  box-shadow:  0 0 22px 0 rgba(178, 132, 132, 1);
  border-radius: 10px;


}
.info div {
  height: 500px;
  width: 800px;
}
.info h2 {
  margin: 10px !important;
}
.choose-weapon-slot {
  height: 150px;
  width: 150px;
  background-color: rgba(100, 149, 237, 0.11);
  box-shadow:  0 0 22px 0 rgba(178, 132, 132, 1);
}
/*========= USER INVENTORY ===============*/
.userInventory {
  width: 600px;
  min-height: 630px;
  background-color: rgba(100, 149, 237, 0.11);
  box-shadow:  0 0 22px 0 rgba(178, 132, 132, 1);
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
}
.inventory {
  width: 150px;
  height: 170px;
  background-color: #a888e8;
  background-size: 120px;
}
/*========= TRADER ===============*/

.trader {
  width: 800px;
}
.user-weapons {
 min-width: 700px;
  margin: 40px 0 0 150px;
}
.trader-button {
  width: 200px;
  height: 50px;
  background-color: #a888e8;
  margin: 20px 40px;
  border-radius: 5px;
  box-shadow:  0 0 22px 0 rgba(178, 132, 132, 1);

}
.buy-button {
  width: 70px;
  height: 30px;
  background-color: #a888e8;
  margin: 20px 40px;
  border-radius: 5px;
  box-shadow:  0 0 22px 0 rgba(178, 132, 132, 1);

}
/*========= CHOOSE INVENTORY ===============*/

/*-----------Flex---------------------------*/
.d-flex {
  display: flex;
}

.column  {
  flex-direction: column;
}
.row {
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap;
}

.j-center {
  justify-content: center;
}

.space-btw {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}
.a-center {
  align-items: center;
}

.p-20 {
  padding: 20px;
}

.grow1 {
  flex: 1;
}
.grow2 {
  flex: 2;
}
.grow3 {
  flex: 3;
}